---
import Layout from '~/layouts/Base.astro';
import { friendsData } from './data';
---

<Layout
    title="Friends"
    description="Some friends"
    image="/blog-placeholder-about.jpg"
>
    <div class="border border-textColor px-4 py-2">
        <h1 class="title">Friends</h1>
        <p>Hi, Here are some friends links:</p>

        <ul class="mt-4 space-y-3">
            {
                friendsData.map((friend) => (
                    <li class="border border-textColor py-2 px-4 hover:bg-textColor hover:text-bgColor">
                        <a
                            href={friend.url}
                            class="flex flex-col gap-1 group"
                            target="_blank"
                        >
                            <div>
                                <span class="font-bold text-xl group-hover:underline">
                                    {friend.name}
                                </span>
                            </div>
                            <div>
                                <span>
                                    {friend.description.length
                                        ? friend.description
                                        : 'Nothing much to introduce.'}
                                </span>
                            </div>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</Layout>
