---
import Layout from '~/layouts/Base.astro';
---

<Layout
    title="About Me"
    description="Lorem ipsum dolor sit amet"
    image="/blog-placeholder-about.jpg"
>
    <section class="border border-textColor px-4 py-2">
        <h1 class="title">About</h1>
        <p>当前页面还未完善~</p>
    </section>
</Layout>
