---
import { NAV_LINKS, siteConfig } from '~/consts.ts';
const year = new Date().getFullYear();
// 底部 footer
---

<footer
    class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-6 pt-8 text-center align-top font-semibold sm:flex-row sm:justify-between sm:text-xs text-textColor border-t border-textColor"
>
    <div class="mr-2 sm:mr-0 md:text-lg">
        Copyright &copy; {year}{' '}
        {siteConfig.profile.author}
    </div>
    <nav
        aria-label="More on this site"
        class="gap-x-0 hidden sm:gap-x-2 sm:flex sm:divide-x sm:divide-textColor"
    >
        {
            NAV_LINKS.map((link) => (
                <a
                    href={link.path}
                    class="px-2 py-0 hover:text-textColor hover:underline sm:px-4 sm:py-1 md:text-lg"
                >
                    {link.title}
                </a>
            ))
        }
    </nav>
</footer>
