---
import { siteConfig, NAV_LINKS, type NavLink } from '../consts';
import ThemeToggle from '~/components/ThemeToggle.astro';
import ExpandedMenu from '~/components/ExpandedMenu.astro';
// 顶部导航栏
---

<header class="sticky top-0 z-50 bg-bgColor text-textColor pt-5">
    <div
        class="relative grid grid-cols-[auto_1fr_auto] items-center p-0 border-textColor border bg-bgColor text-textColor"
    >
        <div class="px-4 py-0">
            <a class="whitespace-nowrap font-bold no-underline" href="/"
                >{siteConfig.title}</a
            >
        </div>

        <div class="flex justify-center">
            <ThemeToggle />
        </div>

        <div
            id="menuButton"
            class="hover:bg-textColor hover:text-bgColor bg-bgColor text-textColor px-6 py-1 m-0 cursor-pointer border-l border-l-textColor"
        >
            <button
                class="bg-transparent border-none text-xs font-semibold tracking-wider cursor-pointer"
                aria-label="Open menu"
                aria-expanded="false"
            >
                MENU
            </button>
        </div>

        <ExpandedMenu navLinks={NAV_LINKS} />
    </div>
</header>
