---
// TableOfContentsHeading.astro
import type { MarkdownHeading } from 'astro';
const { heading } = Astro.props;
---

<li class="border-b border-textColor">
    <a
        href={'#' + heading.slug}
        id={`toc-${heading.slug}`}
        class="block py-2 text-textColor hover:font-semibold transition-colors text-base"
    >
        {heading.text}
    </a>
    {
        heading.subheadings.length > 0 && (
            <ul class="ml-3">
                {heading.subheadings.map((subheading: MarkdownHeading[]) => (
                    <Astro.self heading={subheading} />
                ))}
            </ul>
        )
    }
</li>

<style>
    .active-toc {
        color: var(--theme-text);
        --tw-font-weight: var(--font-weight-semibold) /* 600 */;
        font-weight: var(--font-weight-semibold) /* 600 */;
    }

    li:last-child {
        border: none;
    }
</style>
